* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: relative;
    /* color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center; */
}

#main {
    display: none;
}

#newGame, #instrBtn, #backBtn {
    text-align: center;
    vertical-align: middle;
    border: 2px solid goldenrod;
    border-radius: 7px;
    background-color: gold;
    color: orangered;
    font-size:100%;
    font-weight: bold;
    font-family: "Courier New";
    width: 20%;
    margin: 5px auto;
    position: absolute;
    z-index: 5;
    /* display: block; */
}

#instr {
    text-align: center;
    vertical-align: middle;
    border: 2px solid goldenrod;
    border-radius: 7px;
    background-color: gold;
    color: orangered;
    font-size: 16px;
    font-weight: bold;
    font-family: "Courier New";
    width: 20%;
    margin: 5px 0;
    z-index: 5;
    position: absolute;
    top: 25%;
    left: 40%;
}

#header {
    text-align: center;
    margin: auto;
    color: gold;
    font-size: 50px;
    font-family: "Courier New";
    display: block;
    position: absolute;
    width: 40%;
    top: 20%;
    left: 30%;
    overflow: none;
}

#instrBtn {
    top: 50%;
    left: 40%;
}

#newGame {
    top: 40%;
    left: 40%;
}

#backBtn {
    display: none;
    top: 50%;
    left: 40%;
}

canvas#game {
    display: block;
    background-image: linear-gradient(#DF73FF, #66CCFF);
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cloudLarge {
    width: 27%;
    height: 20%;
    position: absolute;
    top: 20em;
    z-index: 4;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: large 19s infinite linear;
}

@keyframes large{
    0% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

#cloudMedium {
    width: 20%;
    height: 12%;
    position: absolute;
    top: 34%;
    z-index: 3;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: medium 17s infinite linear;
}

@keyframes medium{
    0% {
        left: 100%;
    }

    20% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

#cloudSmall {
    width: 12%;
    height: 8%;
    position: absolute;
    top: 60%;
    z-index: 0;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: small 30s infinite linear;
}

@keyframes small{
    0% {
        left: 100%;
    }

    40% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

#cloudSmall2 {
    width: 12%;
    height: 8%;
    position: absolute;
    top: 10%;
    z-index: 0;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: small2 30s infinite linear;
}

@keyframes small2{
    0% {
        left: 100%;
    }

    30% {
        left: -30%;
    }

    100% {
        left: -30%
    }
}

#pizza {
    width: 14%;
    height: 14%;
    position: absolute;
    top: 55%;
    z-index: 5;

    background-image: url("img/pizza.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: pizzaFly 60s infinite linear;
}

@keyframes pizzaFly{
    0% {
        left: 100%;
    }

    60% {
        left: 100%;
    }

    100% {
        left: -30%
    }
}

#airplane {
    width: 15%;
    height: 10%;
    position: absolute;
    top: 14%;
    z-index: 2;

    background-image: url("img/airplane.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: airFly 40s infinite linear;
}

@keyframes airFly{
    0% {
        left: -40%;
    }

    20% {
        left: -40%;
    }

    100% {
        left: 100%
    }
}

#ye {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 30%;
    z-index: 3;
    opacity: 0.1;
    overflow: none;

    background-image: url("img/ye.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: yeFly 40s infinite linear;
}

@keyframes yeFly{
    0% {
        left: 100%;
    }

    60% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}