* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}
canvas {
    display: block;
    background-image: linear-gradient(#DF73FF, #66CCFF);
    z-index: 0;
}

#cloudLarge {
    width: 280px;
    height: 200px;
    position: absolute;
    top: 180px;
    z-index: 4;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: large 19s infinite linear;
}

@keyframes large{
    0% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

#cloudMedium {
    width: 200px;
    height: 140px;
    position: absolute;
    top: 280px;
    z-index: 3;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: medium 17s infinite linear;
}

@keyframes medium{
    0% {
        left: 100%;
    }

    20% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

#cloudSmall {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 100px;
    z-index: 0;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: small 30s infinite linear;
}

@keyframes small{
    0% {
        left: 100%;
    }

    40% {
        left: 100%;
    }

    100% {
        left: -30%;
    }
}

#cloudSmall2 {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 300px;
    z-index: 0;

    background-image: url("img/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: small2 30s infinite linear;
}

@keyframes small2{
    0% {
        left: 100%;
    }

    30% {
        left: -30%;
    }

    100% {
        left: -30%
    }
}

#pizza {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 400px;
    z-index: 5;

    background-image: url("img/pizza.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: pizzaFly 60s infinite linear;
}

@keyframes pizzaFly{
    0% {
        left: 100%;
    }

    70% {
        left: 100%;
    }

    100% {
        left: -30%
    }
}

#airplane {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 100px;
    z-index: 2;

    background-image: url("img/airplane.png");
    background-repeat: no-repeat;
    background-size: contain;

    animation: airFly 40s infinite linear;
}

@keyframes airFly{
    0% {
        left: -30%;
    }

    20% {
        left: -30%;
    }

    100% {
        left: 100%
    }
}